<%= provide :title %>
<%= stylesheet_link_tag 'gallery', media: 'all' %>

<div class="py-4" id="gbg">
  <div class="container">
    <div class="row justify-content-center">
       <% @comments.each do |comment| %>
        <div class="card mt-3 col-9 col-md-9 cardSz">
          <h5 class="card-header text-center py-4">
            <strong><%= comment.title %></strong>
          </h5>
          </a>
          <div class="card-body px-lg-5 pt-4 text-center">
            <%= comment.content %>
          </div>
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal01">
                        check
          </button>
        </div>
       <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-labelledby="modal01-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal header">
        <h5 class="modal-tilte" id="modal01-label"></h5>
            <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
        <div class="modal-body">
        <p><%= @comment.content %></p>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dissmiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


    
   
  
