<%= stylesheet_link_tag "comments" %>

<div class="py-4 commentBg">
<div class="container">
  <h2 class="text-center display-2 py-4 text-info"><%#= icon("far", "paper-plane") #%></h2>
  <div class="row justify-content-center">
    <%= form_with model:[@post, @comment] do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="card mt-3 col-md-12 newPost font-italic commentBg">
        <h5 class="card-header text-center py-4">
          <%= f.label :title, class:"display-4 text-white title w-100" %></br>
          <%= f.text_field :title, class:"py-4" %>
        </h5>
        <div class="card-body px-lg-5 py-4 text-center">
          <%= f.label "Your Suggest here", class:"display-4 text-white comment w-100" %></br>
          <%= f.text_area :content, class:"form py-4" %>
        </div>
        <div class="py-4 text-center">
          <%= f.submit "Send", class: "btn btn-info w-100 alert alert-info" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>