<%= stylesheet_link_tag "posts", :media => "all" %>
<%= stylesheet_link_tag 'card', media: 'all' %>
<% provide(:title, "Post") %>

<div class="py-4">
  <div class="container">
   <div class="row justify-content-center">
   <% if user_signed_in? %>
    <div class="col-6 mx-auto">
       <%= link_to "My page", current_user, class: "ml-2 btn btn-warning alert alert-warning w-100" %>
    </div>
    <% else %>
    <div class="col-6 mx-auto">
       <%= link_to "Sign up !", new_user_registration_path , class: "ml-2 btn btn-primary alert alert-primary w-100" %>
    </div>
    <% end %>
   </div>
  </div>
</div>
<!-- /section1 -->


<!-- card -->
<div class="py-4">
  <div class="container">
    <div class="row justify-content-center">
       <% @posts.each do |post| %>
        <div class="card mt-3 col-9 col-md-9 cardSz">
          <h5 class="card-header text-center py-4">
          <a href="/posts/<%= post.id %>", class="text-dark">
            <strong><%= post.title %></strong>
          </h5>
          </a>
          <div class="card-body px-lg-5 pt-4 text-center">
            <%= post.content %>
          </div>
          <div class="card-body px-lg-5 pt-4 text-center">
            <%= image_tag post.img.url, size: 150 if post.img? %>
          </div>
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= post.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
       <% end %>
    </div>
  </div>
</div>
 