<%= stylesheet_link_tag "postShow" %>
<%= stylesheet_link_tag 'card', media: 'all' %>

<div class="py-4" id="postShow">
  <div class="container">
    <% flash.each do |message_type, message| %>
     <%= content_tag(:div, message, class:"alert alert-#{message_type}")%>
    <% end %>
     <div class="row justify-content-center">
        <div class="card mt-3 col-9 col-md-9 cardSz">
          <h3 class="card-header text-center py-4"> 
            <strong><%= @post.title %></strong>
          </h3>    
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= @post.content %>
          </div>
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= image_tag @post.img.url, size: 150 if @post.img? %>
          </div>
          <div class="card-body px-lg-5 pt-4 text-center">
             <%= @post.created_at.strftime('%Y/%m/%d') %>
          </div>
          <% if user_signed_in? %> 
          <div class="row px-lg-5 pt-4">
            <div class="mx-auto">
              <%= link_to "Edit", edit_post_path(@post), class:"text-success" %>
            </div>
            <div class="mx-auto">
             <%= link_to "All suggest", posts_path(@post), class:"text-info" %>
            </div>
            <div class="mx-auto">
              <%= link_to 'Delete', post_path(@post), :method => :delete, data: {confirm: "Are you sure?"}, class:"text-danger" %>
            </div>
          </div>
        <% end %>
      </div>
          <div class="container">
            <%= render 'comments/new' %>
          </div>
        
        <div class="py-4">
          <div class="container">
            <%= render 'comments/show' %>
          </div>
        </div>
    </div>
  </div>
</div>