
<footer>
  <div class="py-4">
    <div class="container text-center"＞
      <!-- nav -->
      <ul class="nav justify-content-center">        
        <% if user_signed_in? %> 
        
        <li class="nav-item active">
        <%= link_to "Home", pages_index_path, class:"nav-link text-white" %>
        </li> 
        <li class="nav-item">
            <%= link_to "Top", posts_path, class:"nav-link text-white text-center" %>
        </li>
        <li>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"nav-link text-white" %>
        </li>
        <% else %> 
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class:"nav-link text-white" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Login", login_path, class:"nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users Index", users_path, class:"nav-link text-white " %>
        </li>
        <% end %>
      </ul>
 
    </div>
  
  </div>
  </footer>