
<footer class="py-4" id="footer">
    <div class="container"＞
    <div class="row text-center"">
      <!-- nav -->
      <ul class="nav justify-content-center">        
        <% if user_signed_in? %> 
        <li class="nav-item active">
            <%= link_to "Top", posts_path, class:"nav-link text-white text-secondary" %>
        </li>
        <li class="nav-item">
         <%= link_to "My page", current_user, class:"nav-link text-success" %>
        </li> 
        <li>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"nav-link text-danger" %>
        </li>
        <% else %> 
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class:"nav-link text-danger" %>
        </li>
        
        <li class="nav-item">
          <%= link_to "Login", login_path, class:"nav-link text-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users Index", users_path, class:"nav-link text-info" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</footer>

  