<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container">
        <a href="/pages/index">
          <%= image_tag "logo1.png", alt:"logo",class:"h-25 d-inline-block", width: "120px" %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                <!-- nav menu -->
                <ul class="navbar-nav justify-content-end">
                    <% if user_signed_in? %>  
                    <li class="nav-item">
                      <%= link_to "My page", current_user, class:"nav-link text-success" %>
                    </li> 
                    <li class="nav-item">
                      <%= link_to "Ask", new_post_path, class:"nav-link text-warning" %>
                    </li>
                    <li class="nav-item">
                    <%= link_to "Posts All", posts_path, class:"nav-link text-info" %>
                    </li>                  
                    <li>
                    <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"nav-link text-danger" %>
                    </li>
                    <% else %>
                    <li class="nav-item navbar-right active">
                      <%= link_to "Posts All", posts_path, class:"nav-link text-danger" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to "Log in", login_path, class:"nav-link text-warning" %>
                    </li>
                    <li class="nav-item ">
                      <%= link_to "Sign up", signup_path, class:"nav-link text-info" %>
                    </li> 
  
                  <% end %>
                </ul>
            </div>
        </div>
    </nav>